<div style="text-align: center;">
    <br />
    <MudText Typo="Typo.h4">PROFiLiX</MudText>
    <MudText Typo="Typo.h5">loading content</MudText>
    <br />
    <MudProgressCircular Color="Color.Info" Size="Size.Large" Indeterminate="true" />
</div>